{% extends "default/home.html.twig"  %}

{% block content %}
    <div class="container">
<div class="coment-form">
    <h4>Leave your Motivation</h4>
    <form  method="post">

        <textarea name="message" required="" placeholder="Ecrire Ici Votre Motivation"></textarea>
        <input type="submit" value="Submit Comment" >
    </form>
</div>
    </div>

{% endblock content %}