{% extends "default/home.html.twig"  %}

{% block content %}
    <div class="container">
        <div class="coment-form">
            <h4>Edit your Motivation</h4>
            {{ dump(disc) }}
            <form  method="post">
                <textarea name="message" required="">{{ disc.contenu }}</textarea>
                <input type="submit" value="Edit Comment" >
            </form>
        </div>
    </div>

{% endblock content %}