{% extends "default/home.html.twig" %}

{% block content %}

    <h4>Rechercher Nom Evenement</h4>
    <form METHOD="POST">

        <input type="text" name="titreAnnonce">
        <input type="submit" name="submit" value="recherche">

    <center>
        <div class="list-group"style="width:1000px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-hover">

                <thead class="bg-primary" >
                <tr>

                    <th style="color:blanchedalmond">Titre de l'Evenement </th>
                    <th style="color:blanchedalmond">Date de l'Evenement</th>
                    <th> </th>
                </tr>
                </thead>

                {% for Event in Event %}
                    <tr>
                        <td align="center" class="card-title" height="20"><h5 class="card-title" style="color: black" >{{Event.titreAnnonce}}</h5></td>
                        <td class="service">  <p class="card-text">{{Event.dateAnnonce}}</p></td>
                        <td><button  type="button" style="background-color: #0a6aa1"><a href="{{ path("AfficherEventDetail" ,{"id":Event.idAnnonce}) }} " style="color: blanchedalmond"> En savoir +</a></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </center>
</form>
{% endblock content %}

