{% extends "default/home.html.twig" %}

{% block content %}
    <br><br>
    <h4>Ajouté un Offre d'emploi</h4>
    <br><br>
    {{ form_start (form) }}
    {{ form_end(form) }}
    <br><br>
{% endblock content %}