{% extends 'default/home.html.twig' %}

{% block body %}
    <br>
    <center> <h1>Quizs</h1></center>
    <br>
    {% block javascripts %}

        <script>
            var searching =false;

            function search_func(value)
            {
                if(searching==false){
                    searching=true;
                    $.ajax({
                        type: "POST",
                        url: "{{ path('quiz_search') }}",
                        data: {'nom': value},
                        success: function (data) {

                            console.log(data);

                            $("#res").html(data);

                            searching=false;



                        }
                    });
                }else{
                    console.log("wait");
                }

            }
            ;
        </script>


    {% endblock %}

<center>
    <table class="table"  style="max-width: 800px">
        <thead>
            <tr>

                <th>Titre</th>

                <th> <input class="form-control" type="text"   nom="nom" placeholder="Chercher"></th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>

                <td>{{ quiz.titre }}</td>
                <td><center>

                            <a class="btn btn-info" href="{{ path('quiz_show', { 'id': quiz.id }) }}">Jouer</a>

                    </center>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</center>
{% endblock %}
