
    {% for quiz in quizzes %}
        <tr>

            <td>{{ quiz.titre }}</td>
            <td><center>

                    <a class="btn btn-info" href="{{ path('quiz_show', { 'id': quiz.id }) }}">Jouer</a>

                </center>
            </td>
        </tr>
    {% endfor %}
